@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --main-back: #fb923c;
}

body {
  background: var(--main-back);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
